
<div class="row align-items-center h-100" ng-controller="AcceuilController">
  <a href="/pages/acceuil.html">Lien</a>
<div class="col-9 mx-auto formulaire"> 
        <center><img src="../img/logo.png"></center>
      {{ handle}}
            <form name="myForm" ng-submit="validerLeFormulaire()" novalidate> 
                    <div class="form-group"  ng-class="{ 'has-error' : myForm.InputText.$invalid && !myForm.InputText.$pristine }">
                      <label for="exampleInputEmail1">Email address</label>
                      <input type="email" name="InputText" class="form-control " id="exampleInputEmail1"  aria-describedby="emailHelp" ng-model="email"> 
                     
                      <small id="emailHelp" class="form-text text-muted ">Nous partagerons pas cette infos . </small>
                      <small id="emailHelp" ng-show="myForm.InputText.$invalid && !myForm.InputText.$pristine " class="form-text text-muted red">Ceci n'est pas une adresse email </small>
                    </div>
                    <div class="form-group"  ng-class="{ 'has-error' : myForm.Password.$invalid && !myForm.Password.$pristine }">
                      <label for="exampleInputPassword1">Password</label>
                      <input type="password" class="form-control" id="Password" name="password" placeholder="Password" ng-model="password" ng-model="Password" ng-minlength="3" ng-maxlength="8"  >
                        <div class="red" role="alert" ng-show="myForm.password.$invalid && !myForm.password.$pristine "><br>
                          le mot de passe doit etre d'au moins 3 caractères
                         </div>
                        
                    </div>
                    <div class="form-group form-check">
                      <input type="checkbox" class="form-check-input" id="exampleCheck1" name="RemenberMe">
                      <label class="form-check-label" for="exampleCheck1">Se SOuvenir de moi </label>
                    </div>
                    <center><button type="submit" class="btn  styleButton" ng-disabled="myForm.InputText.$dirty && myForm.InputText.$invalid ||
                      myForm.Password.$dirty && myForm.Password.$invalid &&  myForm.RemenberMe.$dirty && myForm.RemenberMe.$invalid"  >Submit</button></center>
                  </form>
        </div>
</div>
